* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Mooli, sans-serif;

}

main {
  padding: 1rem;
  margin: auto;
}

main h1 {
  text-align: center;
  color: #082e2a;
  margin-bottom: 12px;
}
div h1 {
  color: brown;
}
.main-header {
  width: 100%;
  height: 3.7rem;
  background-color: #00695c;
  padding: 0 1.5rem;
}

.bg-navbar {
  background-color: #00695c;
}

.light-bold {
  font-weight: 500 !important;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 13rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: #fff;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

article {
  background-image: linear-gradient(rgb(235, 108, 108), rgb(73, 192, 73), yellow, rgb(128, 33, 195), rgb(224, 55, 55))
}
.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  font: inherit;
  font-weight: bolder;
  border:2px  solid rgb(54, 17, 81);
  background-color: color-mix(in srgb, rgb(230, 138, 138) 75%, yellow 25%);
  outline: none;
  color: #00695c;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 15px;
}

.btn:hover,
.btn:active {
  background-color: #63dd5a;
  border: none;
  color: #fff;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h4 {
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  animation: fadeIn ease-in 1;
  color: #082e2a;
  animation-fill-mode: forwards;
  animation-duration: 1.4s;
}

.fade-in.delayed {
  animation-delay: 1.4s;
  color: rgb(218, 80, 80);
}