.product-form {
    display:flex;
    flex-direction: column;
    width: 15rem;
    max-width: 100%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
}

.product__title {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d5d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}
