.product-form {
    display:flex;
    flex-direction: column;
    width: 15rem;
    max-width: 100%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
}

.product__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    color: #082e2a;
    text-align: center;
}

.product__price {
    text-align: center;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}
