* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}

body {  
  user-select: none;

}
a:hover {
  color: #ffeb3b;
}

/* header style */
header {
  min-height: 100dvh;
  /* background-color: #fff; */
  background-image: linear-gradient(to bottom, #00695d65, #00695d65), url('../images/library-bg.jpg');
  object-fit: cover;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.header_body{
  flex: 1;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.header_body>article{
  max-width: 500px;
}

.header_body>article>h1{
  font-size: 3rem;
}

.header_body>article>p {
  font-size: 1rem;
  line-height: 1.1rem;
  margin-bottom: 20px;
}

.header_body>article>button{
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  padding: 8px;
  border-radius: 5px;
  text-transform: capitalize;
}

.header_body>article>button:hover{
  background: #fff;
  color: #00695c;
  cursor: pointer;
}

main {
  /* background-image: linear-gradient(to right, rgb(235, 108, 108), rgb(73, 192, 73)); */
  font-family: 'Fraunces', serif;
  padding: 1rem;
  margin: auto;
}

main h1 {
  text-align: center;
  color: #082e2a;
  margin-bottom: 12px;
  font-family: 'Young Serif', serif;
}
div h1 {
  color: rgb(148, 13, 13);
}


.main-header {
  width: 100%;
  height: 3.7rem;
  background-color: #00695c;
  padding: 0 1.5rem;
}
.bg-navbar {
  background-color: #00695c;
}
.light-bold {
  font-weight: 500 !important;
}



.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 13rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: #fff;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}


article {
  /* background-image: linear-gradient(rgb(235, 108, 108), rgb(73, 192, 73),rgb(128, 33, 195), rgb(242, 242, 72), rgb(235, 114, 114), rgb(73, 192, 73)); */
  transition: box-shadow 0.2s;
}
article:hover{
  /* box-shadow: 0px 0px 40px rgb(0, 0, 0); */
}
.card__header {
  padding: 1rem;
}

.card__content{
  border-top: 1px solid #fff;
  color: #000000af;
  padding: 0.2rem 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 50%;
  display: inline-block;
  margin: 0 auto;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.add-item {
  margin: 5px 12px;
  padding: 10px 12px;
  border: none;
  border-radius: 18px;
  color: rgb(5, 241, 16);
  background-color: rgb(176, 32, 32);
  font-weight: 500;
  transition: box-shadow 0.2s;

}

.add-item:hover{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}
.add-item:active{
  padding: 8px 10px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h4 {
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  animation: fadeIn ease-in 1;
  color: #082e2a;
  animation-fill-mode: forwards;
  animation-duration: 1.4s;
}

.fade-in.delayed {
  animation-delay: 1.4s;

  color: rgb(190, 63, 63);

}
@media (min-width:1024px) {
  .card__content{
    padding: 1rem;
  }

}

/* responsivess */
@media screen and (min-width: 320px){
  .header_body {
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header_body{
    padding: 80px;
  }
}