/* .form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
    background-color: #ffffff;
}
.form-control input:focus {
    outline-color:darkmagenta ;
}

.navbar-brand:hover {
    color: brown;
} */

header {
    display: flex;
    justify-content: space-between;
    background: #f13f31;
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border-bottom: 1px solid #3131315e;
}
.headquote {
    font-weight: 500;
    font-style: 2rem;
    cursor: cell;
}
header a {
    font-size: 12px;
    color: rgb(73, 192, 73);
}
header a:hover {
    font-size: 15px;

}
.head1p1 {
    font-size: 20px;
    color: #ffffff;
}

.head1ul li a {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
}

@media (max-width:600px) {
    header {
        flex-direction: column;
    }
}
