main h1 {
  text-align: center;
  color: #082e2a;
  margin-bottom: 12px;
}

div h1 {
  color: brown;
}

.light-bold {
  font-weight: 500 !important;
}

.products-containers {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.first-product,
.second-product {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: none;
  flex-basis: 50%;
  padding: 12px;
}
.banner h1 {
  margin-bottom: 6px;
}
.product__title {
  font-size: 20px;
  margin-bottom: 10px;
}
.card__header h4 {
  font-style: italic;
  color: rgb(247, 69, 69);
}
.card__image img {
  max-height: 200px;
}
.card__image {
  margin-bottom: 10px;
}
.card__actions {
  padding: 1rem;
  text-align: center;
}
.card__content p {
  font-size: 18px;
}
.add-item {
  margin: 12px;
  padding: 10px 12px;
  border: none;
  border-radius: 18px;
  color: red;
  background-color: rgb(89, 189, 96);
  width: 150px;
}
.add-item:hover,
.add-item:active {
  opacity: 0.6;
  color: #ffffff;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0.2;
  /* make things invisible upon start */
  animation: fadeIn ease-in 1;
  color: #082e2a;
  animation-fill-mode: forwards;
  animation-duration: 1.4s;
}

.fade-in.delayed {
  animation-delay: 1.4s;
  color: #082e2a;
}