main h1 {
  text-align: center;
  color: #082e2a;
  margin-bottom: 12px;
}

div h1 {
  color: brown;
}

.light-bold {
  font-weight: 500 !important;
}

.products-containers {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.first-product,
.second-product {
  border: 2px solid green;
  flex-basis: 50%;
}
.banner h1 {
  margin-bottom: 6px;
}
.card__image img {
  max-height: 200px;
  /* width: 70%; */
}
.card__image {
  margin-bottom: 10px;
  padding: 0;
}
.card__actions {
  padding: 1rem;
  text-align: center;
}

.add-item {
  margin: 12px;
  padding: 10px 12px;
  border: none;
  border-radius: 18px;
  color: rgb(128, 33, 195);
  background-color: brown;
}


h4 {
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0.2;
  /* make things invisible upon start */
  animation: fadeIn ease-in 1;
  color: #082e2a;
  animation-fill-mode: forwards;
  animation-duration: 1.4s;
}

.fade-in.delayed {
  animation-delay: 1.4s;
  color: rgb(218, 80, 80);
}