.product-form {
    display:flex;
    flex-direction: column;
    width: 15rem;
    max-width: 100%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
}
span {
    color: #ea6d6d;
    font-weight: 900;
    font-size: 2.2rem;
}
.product__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d5d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}
